.dashboard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .header {
    background-color: aqua;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-section {
    display: flex;
  }
  
  .sidebar {
    width: 20px; 
    padding: 0px;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  